* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


#game-area {
    background: pink;
    margin: 0 auto;
    display: grid;
    padding: 20px;
    width: 80%;
    max-width: 1000px;
    height: 100vh;
    max-height: 500px;
    grid-template-rows: auto;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
}

.pic-contain {
    position: relative;
    background-color: black;
}

.owl-box {
    background-image: url('/assets/owl.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    /* bottom: 16%; */
    top: 0;
    left: 20%;
    height: 60%;
    width: 60%;
}

.bush-box {
    background-image: url('/assets/bush.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 100%;

}