@import url('https://fonts.googleapis.com/css?family=Lakki+Reddy&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color-ash: rgb(41, 41, 58);
}

body {
    font-family: 'Lakki Reddy', cursive;
    /* to hide modal scroll bar */
    overflow: hidden;
}

.container {
    width: 100%;
    height: 100vh;
    padding: 5% 10% 0 10%;
    background-color: var(--color-ash);
}

.title {
    color: white;
    font-size: 40px;
    padding-bottom: 20px;
    position: relative;
}

.game-message {
    right: 0;
    color: rgba(255, 255, 255, 0);
    position: absolute;
}

.fade-message {
    animation-name: fadeInOut;
    animation-duration: 2s;

}

@keyframes fadeInOut {
    0% {
        color: rgba(255, 255, 255, 0);
    }

    50% {
        color: rgba(255, 255, 255, 1);
    }

    70% {
        color: rgba(255, 255, 255, 1);
    }

    100% {
        color: rgba(255, 255, 255, 0);
    }
}


#game-area {
    /* background: pink; */
    margin: 0 auto;
    display: grid;
    padding: 15px;
    width: 100%;
    max-width: 1000px;
    grid-template-rows: auto;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
}

.pic-contain {
    position: relative;
    /* background-color: black; */
    width: 200px;
    height: 170px;
    align-self: center;
    justify-self: center;

}


.owl-box {
    background-image: url('/assets/owl.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 30%;
    left: 20%;
    height: 60%;
    width: 60%;
    transition: 0.17s ease;
    /* z-index: 10; */
    /* transform: translateY(-60%); */

}


.bush-box {

    background-image: url('/assets/bush.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;

}

.invisible-box {
    display: none;
    width: 59px;
    height: 52px;
    position: absolute;
    left: 35.5%;
    top: -2%;
    /* background-color: darkcyan; */
    z-index: 15;
}



.move-owl {
    transform: translateY(-60%);
}


/* display the click area when corresponding owl is active */
.move-owl~.invisible-box {
    display: block;
}


/* modals -----------------------------------*/

.modal {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 20;
    background-color: rgb(139, 169, 224);

}

.start-message-contain {
    position: relative;
    width: 100%;
    max-width: 650px;
    margin: 5% auto;
    color: white;
    text-align: center;
}

.start-game,
.win-game {
    display: none;
    position: absolute;
    width: 100%;
    border: solid rgb(81, 127, 212) 10px;
    padding: 20px;
}

.button {
    border: 0;
    background-color: rgb(81, 127, 212);
    padding: 10px;
    font-size: 22px;
    letter-spacing: 1px;
    width: 250px;
    font-family: inherit;
    margin-top: 20px;
    color: white;
    transition: 0.3s ease;
}

.button:hover {
    cursor: pointer;
    background-color: rgb(42, 111, 240);
}

.modal-title {
    font-size: 35px;
    line-height: 40px;
}

.modal-text,
.modal-time {
    font-size: 20px;
    line-height: 25px;
    margin-top: 10px;
    letter-spacing: 1px;

}



/* media queries -------------------------*/
@media only screen and (max-width: 900px) {
    .pic-contain {
        width: 170px;
        height: 150px;

    }

    .invisible-box {
        width: 52px;
        height: 48px;
    }
}

@media only screen and (max-width: 750px) {

    #game-area {
        grid-gap: 25px;
    }

    .container {
        padding: 3% 2% 0 2%;
    }

    .title {
        font-size: 15px;
    }

    .pic-contain {
        width: 140px;
        height: 120px;
    }

    .invisible-box {
        width: 42px;
        height: 38px;
    }

    .start-message-contain {
        max-width: 100%;
    }

    .start-game,
    .win-game {
        border: none;
    }
}

@media only screen and (max-width: 510px) {

    #game-area {
        grid-template-columns: repeat(2, 1fr);

    }

}